body {
  background-color: white;
}

h1 {
  text-align: center;
  background-color: rgb(219, 245, 167);
}

h3 {
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(219, 245, 167);
  margin: 1%;
}

#search-btn {
  background-color: black;
}

#search-box {
  background-color: rgb(107, 204, 112);
}

#forecast-container {
  background-color: rgb(134, 240, 93);
  padding-left: 5%;
}
.search-results {
  width: inherit;
}

.city-btn {
  border: whitesmoke;
  border-style: solid;
  border-width: 2px;
  border-radius: 2%;
  color: rgb(0, 0, 0);
  background-color: goldenrod;
  width: inherit;
  display: flex;
  justify-content: left;
}

#daily-container {
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5%;
  border: black;
  display: table;
  justify-content: left;
}

#five-day-container {
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5%;
  border: black;
  display: flex;
  justify-content: left;
}

.new-box {
  margin: 5px;
  padding: 3px;
  background-color: yellowgreen;
}
